// Body
$body-bg: #f8fafc;
$primary: #630405;
$red: #ea001e;
$danger: #fc544b;
$card-bg: #fff5af;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;
